<div class="jumbotron">
  <% if current_user %>
    <h1>Welcome <%= current_user.email%></h1>
  <% else %>
    <h1>Welcome the my photo app</h1>
  <% end %>
  <p class="lead">This is a simple photo app, You can upload images</p>
  <hr class="my-4">
  <p>It uses carrierwave</p>
  <% if !user_signed_in? %>
    <p class="lead">
      <%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg') %>
    </p>
  <% end %>
</div>
<div class="card-deck">
  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special treatment</h5>
      <p class="card-text">With signing up</p>
      <% if !user_signed_in? %>
        <p class="lead">
          <%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-primary') %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Special treatment</h5>
      <p class="card-text">Use Photo app signed up</p>
      <% if !user_signed_in? %>
        <p class="lead">
          <%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-primary') %>
        </p>
      <% end %>
    </div>
  </div>
</div>